body {
  font-family: 'OpenSansLight', Arial, sans-serif;
  color: black;
  background: #f3f3f3;
  padding: 0 !important; }

strong {
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-weight: normal;
}

a {
  font-size: 15px;
  line-height: 21px;
  color: #0b8f5a;
}

.buttonholder {
  text-align: center;
  padding-top: 10%;
}

.editionbutton {
  background: url("../images/buton.png") no-repeat scroll 0 0 transparent;
  font-weight: bold;
  font-size: 14pt;
  height: 201px;
  padding-bottom: 2px;
  margin-right: 20px;
  width: 200px;
  color: #696969;
  -webkit-border-radius: 27px;
}

.editii {
    vertical-align: center;
    margin-left: 30%;
    padding-top: 10px;
}

.fullheight {
  height: 100%;
}

.textquote {
  font-size: 8pt;
  font-style: italic;
  padding-top: 5px;
  margin-left: 36.5%;
}

.textfooter {
  font-size: 10pt;
  font-style: italic;
}

#footer {
  position:absolute;
  border-top: 1px solid #000000;
  bottom:5px;
  width:100%;
}

